PORT=4000
NODE_ENV=development
CORS_ORIGIN=https://crm.fastonmed.com,http://localhost:3002,http://localhost:3001,http://localhost:3000
JWT_SECRET=change-this-before-production

ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=
ZOHO_REFRESH_TOKEN=
ZOHO_ORGANIZATION_ID=
ZOHO_ACCOUNTS_URL=https://accounts.zoho.com
ZOHO_API_BASE_URL=https://www.zohoapis.com
